<ion-view view-title="Case {{case.ixBug}}">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <textarea msd-elastic ng-model="case.sTitle"></textarea>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Project</div>
              <select ng-model="project" ng-options="p.sProject for p in projects"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Area</div>
              <select ng-model="area" ng-options="a.sArea for a in areas"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Milestone</div>
              <select ng-model="milestone" ng-options="m.sFixFor for m in milestones"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Category</div>
              <select ng-model="category" ng-options="c.sCategory for c in categories"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Assigned To</div>
              <select ng-model="person" ng-options="p.sFullName for p in people"></select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Priority</div>
              <select ng-model="priority" ng-options="p.sPriority for p in priorities"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Tags</span>
                <input type="text">
            </label>
        </div>
        <a href="#/comment" class="btn btn-block btn-primary">Add case note</a>
        <div class="case-note">
            <div class="heading">Edited by Sam Wilson 4/5/15 10:17AM</div>
            <div class="note">
                akslfjsdf
                sdf asdfkasdf asd

                sdf
                asdf
                asd
                fasdflajsdlfkjhasldjhflaksdf
                asd;fkasd
                fasd;kfjasdlf
                asadlfkasjdlkfj
            </div>
        </div>
        <div class="case-note">
            <div class="heading">Edited by Sam Wilson 4/5/15 10:17AM</div>
            <div class="note">
                akslfjsdf
                sdf asdfkasdf asd

                sdf
                asdf
                asd
                fasdflajsdlfkjhasldjhflaksdf
                asd;fkasd
                fasd;kfjasdlf
                asadlfkasjdlkfj
            </div>
        </div>
        <div class="case-note">
            <div class="heading">Edited by Sam Wilson 4/5/15 10:17AM</div>
            <div class="note">
                akslfjsdf
                sdf asdfkasdf asd

                sdf
                asdf
                asd
                fasdflajsdlfkjhasldjhflaksdf
                asd;fkasd
                fasd;kfjasdlf
                asadlfkasjdlkfj
            </div>
        </div>
    </ion-content>
</ion-view>
