<ion-view view-title="Cases">
  <ion-content>
    <div class="padding">
      <h5 class="subdued">{{ filterDescription }}</h5>
    </div>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <div class="item bare" ng-show="cases.length == 0">
        <p>Nothing was found that matched.</p>
      </div>
      <a class="item" style="padding: .4em;" ng-repeat="bug in cases" href="#/app/cases/{{bug.ixBug}}">
        <div class="row">
          <div class="col">
            <span class="case-number priority{{bug.ixPriority}}">{{bug.ixBug}}</span>
          </div>
          <div class="col col-80">
            <h2>{{bug.sTitle.__cdata}}</h2>
            <p class="small"><i class="icon ion-bug"></i> Bug (Active)</p>
            <p class="small">{{bug.sProject.__cdata}}: {{bug.sArea.__cdata}} | Milestone: {{bug.sFixFor.__cdata}}</p>
          </div>
        </div>
      </a>
      <div class="list-footer" ng-show="cases.length > 0">
        <div class="short" ng-hide="count > 25 && cases.length < count">
          {{ cases.length }} of {{ count }}
        </div>
        <button class="button button-clear short" ng-click="showAll()" ng-show="count > 25 && cases.length < count">
          {{ cases.length }} of {{ count }} (tap for all)
        </button>
      </div>
    </div>
  </ion-content>
  <button ng-click="newCase()" class="round-overlay-button bottom-right assertive button button-icon icon ion-ios7-search-strong light">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
