<ion-view view-title="">
  <ion-nav-buttons side="right">
    <span ng-show="case.fOpen == 'true'">
      <fancy-select mode="icon" header-text="Choose a Person" allow-empty="true" value="case.ixPersonAssignedTo" items="people" callback="assignCase(val, text)"></fancy-select>
      <button class="button button-icon icon ion-checkmark" ng-click="resolveCase()">
      </button>
    </span>
    <button class="button button-icon icon ion-edit" ng-click="editCase()">
    </button>
    <button class="button button-icon icon ion-more" ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-divider">
      <span ng-show="ready">
        <strong>{{case.ixBug}}&nbsp;</strong>
        <i class="icon {{ case.icon }}"></i>&nbsp;
        <i class="icon ion-record priority{{case.ixPriority}}"></i>&nbsp;
        <i ng-show="caseResolved == 'false' && case.fOpen == 'true'" class="ion-ios-circle-outline"></i>
        <i ng-show="caseResolved == 'true' && case.fOpen == 'true'" class="ion-ios-checkmark-outline"></i>
        <i ng-hide="case.fOpen == 'true'" class="ion-ios-circle-filled"></i>

        <img class="loader" ng-show="working" src="img/ajax-loader.gif" />
      </span>
    </div>
    <div class="item item-text-wrap" ng-show="ready">
      <h2>{{ case.sTitle.__cdata }}</h2>
      <p><a href="#" ng-click="quickSearch('project:&quot;' + case.sProject.__cdata + '&quot;')">{{ case.sProject.__cdata }}</a>: <a href="#" ng-click="quickSearch('area:&quot;' + case.sArea.__cdata + '&quot;')">{{ case.sArea.__cdata }}</a> (Milestone: <a href="#" ng-click="quickSearch('milestone:&quot;' + case.sFixFor.__cdata + '&quot;')">{{ case.sFixFor.__cdata }}</a>)</p>
    </div>
    <div class="item">
      <div class="row">
        <div class="col col-33 subdued">Category</div>
        <div class="col text"><i class="icon {{ case.icon }}"></i>&nbsp;{{ case.sCategory.__cdata }}</div>
      </div>
      <div class="row">
        <div class="col col-33 subdued">Assigned To</div>
        <div class="col text">{{ case.sPersonAssignedTo.__cdata }}</div>
      </div>
      <div class="row">
        <div class="col col-33 subdued">Priority</div>
        <div class="col text">{{ case.sPriority.__cdata }}</div>
      </div>
      <div class="row">
        <div class="col col-33 subdued">Status</div>
        <div class="col text">{{ case.sStatus.__cdata }}</div>
      </div>
      <div class="row" ng-show="case.tags.length > 0">
        <div class="col col-33 subdued">Tags</div>
        <div class="col text item-text-wrap">
          <span class="tag" ng-repeat="tag in case.tags" ng-click="quickSearch('tag:&quot;' + tag.__cdata+ '&quot;')">{{ tag.__cdata }}</span>
        </div>
      </div>
    </div>
    <span ng-repeat="event in case.events.event">
      <div class="item item-divider">
        <h3 ng-bind-html="event.evtDescription.__cdata" </h3>
          <h4 class="subdued">{{ event.dt | date:'MM/dd/yyyy h:mma'}}</h4>
          <h4 style="white-space: pre-wrap; font-weight: normal;">{{ event.sChanges.__cdata }}</h4>
      </div>
      <span ng-show="event.s != ''">
        <div ng-show="event.fEmail == 'false'" class="item item-text-wrap html" ng-bind-html="event.sHtml.__cdata | hrefToJS"></div>
        <div ng-show="event.fEmail == 'true'" class="item item-text-wrap html" ng-bind-html="event.sBodyHTML.__cdata | hrefToJS"></div>
      </span>
      <div class="spacer" ng-hide="event.s != ''"></div>
    </span>
    <div ng-show="working" class="item item-divider">
      <img class="loader" src="img/ajax-loader.gif" />
    </div>
  </ion-content>
</ion-view>
