<ion-modal-view>
  <ion-header-bar>
    <button class="button" ng-click="closeModal()">Cancel</button>
    <h1 class="title">Edit Case {{ case.ixBug }}</h1>
    <button class="button button-positive">Save</button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="list">
        <label class="item item-input">
          <div class="input-label">Title</div>
          <input type="text" ng-model="case.sTitle">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Project</div>
          <select ng-model="project" ng-options="p.sProject for p in projects"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Area</div>
          <select ng-model="area" ng-options="a.sArea for a in areas"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Milestone</div>
          <select ng-model="milestone" ng-options="m.sFixFor for m in milestones"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Category</div>
          <select ng-model="category" ng-options="c.sCategory for c in categories"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Assigned To</div>
          <select ng-model="person" ng-options="p.sFullName for p in people"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Priority</div>
          <select ng-model="priority" ng-options="p.sPriority for p in priorities"></select>
        </label>
        <label class="item item-input item-input">
          <div class="input-label">Tags</div>
          <input type="text">
        </label>
      </div>
      <div class="item item-divider">
        <h3>Edited by logged in user</h3>
        <h4 class="subdued">Current date</h4>
      </div>
      <div class="item item-text-wrap">
        <textarea ng-model="case.sNewEvent" placeholder="Add a case note..."></textarea>
      </div>
  </div>
</ion-content>
</ion-modal-view>
