<ion-modal-view>
  <form name="form.edit" ng-submit="save()">
    <ion-header-bar>
      <button type="button" class="button" ng-click="cancel()">Cancel</button>
      <h1 class="title">Edit Case {{ case.ixBug }}</h1>
      <button type="submit" class="button button-positive">Save</button>
    </ion-header-bar>
    <ion-content scroll="true">
      <div class="card">
        <div class="list">
          <label class="item item-divider">
            <h3>{{case.sStatus.__cdata}}</h3>
          </label>
          <label class="item item-input">
            <input type="text" name="title" ng-model="case.sTitle.__cdata" class="title">
          </label>
          <label class="item item-divider">
            <h3>Edited by logged in user</h3>
            <h4 class="subdued">Current date</h4>
          </label>
          <label class="item item-input">
            <textarea msd-elastic="\n\n" id="event" name="event" ng-model="case.newEvent" placeholder="Add a case note..."></textarea>
          </label>
          <label class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-paperclip positive"></i> Add Attachment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-camera positive"></i> Take Photo
            </a>
          </label>
          <fancy-select header-text="Choose a Project" label="Project" allow-empty="true" value="case.ixProject" text="case.sProject.__cdata" items="projects"></fancy-select>
          <fancy-select header-text="Choose an Area" label="Area" allow-empty="true" value="case.ixArea" text="case.sArea.__cdata" items="areas"></fancy-select>
          <fancy-select header-text="Choose a Milestone" label="Milestone" allow-empty="true" value="case.ixFixFor" text="case.sFixFor.__cdata" items="milestones"></fancy-select>
          <fancy-select header-text="Choose a Category" label="Category" allow-empty="true" value="case.ixCategory" text="case.sCategory.__cdata" items="categories"></fancy-select>
          <fancy-select header-text="Choose a Person" label="Assigned To" allow-empty="true" value="case.ixPersonAssignedTo" text="case.sPersonAssignedTo.__cdata" items="people"></fancy-select>
          <fancy-select header-text="Choose a Priority" label="Priority" allow-empty="true" value="case.ixPriority" text="case.sPriority.__cdata" items="priorities"></fancy-select>
          <label class="item item-input item-input">
            <div class="input-label">Tags</div>
            <input name="tags" ng-model="tags" type="text">
          </label>
        </div>
      </div>
    </ion-content>
  </form>
</ion-modal-view>
