<ion-modal-view>
  <ion-header-bar class="bar-positive tropic">
    <div class="buttons">
      <button type="button" class="button button-clear" ng-click="cancel()">Cancel</button>
    </div>
    <h1 class="title">&nbsp;</h1>
    <div class="buttons">
      <button type="button" class="button button-clear" ng-click="save('close')">Email Case</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="true">
    <div class="card">
      <div class="list">
        <label class="item item-divider">
          {{ label }}
        </label>
        <label class="item item-input item-text-wrap">
          {{ case.sTitle.__cdata }}
        </label>
        <label class="item item-divider">
          <h3>{{ touched }}</h3>
          <h4 class="subdued">{{ date }}</h4>
        </label>
        <label class="item item-input item-stacked-label" ng-click="chooseEmail()">
          <span class="input-label">From</span>
          <input type="text" placeholder="To" readonly="readonly" ng-model="mailMessage.from">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">To</span>
          <input type="text" placeholder="To">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">CC</span>
          <input type="text" placeholder="CC">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">BCC</span>
          <input type="text" placeholder="BCC">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Subject</span>
          <input type="text" placeholder="Subject">
        </label>
        <label class="item item-input">
          <textarea msd-elastic="\n\n" id="event" name="event" ng-model="case.newEvent" placeholder="Add a message body..."></textarea>
        </label>
        <label class="item tabs tabs-secondary tabs-icon-left">
          <button class="tab-item button button-clear" ng-click="gallery()">
            <i class="icon ion-images tropic"></i>
          </button>
          <button class="tab-item button button-clear" ng-click="camera()">
            <i class="icon ion-camera tropic"></i>
          </button>
        </label>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
