.spacer {
  height: 10px;
}

.dirty {
  background: url('../img/corner.png') no-repeat left top !important;
}

textarea {
  padding-top: 1em;
}

.item-avatar > img {
  border-radius: 0 !important;
}

.title {
  font-size: 1em !important;
}
